
scaler/bin/Debug/net8.0/dump/ResultTest.Jpeg
scaler/bin/Debug/net8.0/dump/ResultTest.Png
scaler/bin/Debug/net8.0/dump/ResultTest.Webp
scaler/bin/Debug/net8.0/runtimes/linux-arm/native/libSkiaSharp.so
scaler/bin/Debug/net8.0/runtimes/linux-arm/native/libSkiaSharp.so.116.0.0
scaler/bin/Debug/net8.0/runtimes/linux-arm64/native/libSkiaSharp.so
scaler/bin/Debug/net8.0/runtimes/linux-arm64/native/libSkiaSharp.so.116.0.0
scaler/bin/Debug/net8.0/runtimes/linux-musl-x64/native/libSkiaSharp.so
scaler/bin/Debug/net8.0/runtimes/linux-musl-x64/native/libSkiaSharp.so.116.0.0
scaler/bin/Debug/net8.0/runtimes/linux-x64/native/libSkiaSharp.so
scaler/bin/Debug/net8.0/runtimes/linux-x64/native/libSkiaSharp.so.116.0.0
scaler/bin/Debug/net8.0/runtimes/osx/native/libSkiaSharp.dylib
scaler/bin/Debug/net8.0/runtimes/win-arm64/native/libSkiaSharp.dll
scaler/bin/Debug/net8.0/runtimes/win-x64/native/libSkiaSharp.dll
scaler/bin/Debug/net8.0/runtimes/win-x86/native/libSkiaSharp.dll
scaler/bin/Debug/net8.0/scaler
scaler/bin/Debug/net8.0/scaler.deps.json
scaler/bin/Debug/net8.0/scaler.dll
scaler/bin/Debug/net8.0/scaler.pdb
scaler/bin/Debug/net8.0/scaler.runtimeconfig.json
scaler/bin/Debug/net8.0/SkiaSharp.dll
scaler/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
scaler/obj/Debug/net8.0/apphost
scaler/obj/Debug/net8.0/ref/scaler.dll
scaler/obj/Debug/net8.0/refint/scaler.dll
scaler/obj/Debug/net8.0/scaler.AssemblyInfo.cs
scaler/obj/Debug/net8.0/scaler.AssemblyInfoInputs.cache
scaler/obj/Debug/net8.0/scaler.assets.cache
scaler/obj/Debug/net8.0/scaler.csproj.AssemblyReference.cache
scaler/obj/Debug/net8.0/scaler.csproj.CoreCompileInputs.cache
scaler/obj/Debug/net8.0/scaler.csproj.FileListAbsolute.txt
scaler/obj/Debug/net8.0/scaler.csproj.Up2Date
scaler/obj/Debug/net8.0/scaler.dll
scaler/obj/Debug/net8.0/scaler.GeneratedMSBuildEditorConfig.editorconfig
scaler/obj/Debug/net8.0/scaler.genruntimeconfig.cache
scaler/obj/Debug/net8.0/scaler.GlobalUsings.g.cs
scaler/obj/Debug/net8.0/scaler.pdb
scaler/obj/Debug/net8.0/scaler.sourcelink.json
scaler/obj/project.assets.json
scaler/obj/project.nuget.cache
scaler/obj/scaler.csproj.nuget.dgspec.json
scaler/obj/scaler.csproj.nuget.g.props
scaler/obj/scaler.csproj.nuget.g.targets
